
body{
    display: flex;
    font-style: italic;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);


}

.container{
    text-align: center;
    padding: 50px;
    background-color:rgb(46, 46, 46);
    border-radius: 10px;

} 

#city-input{
    border-radius: 2px;
}

.daycontainer{
    background-color:rgb(20, 20, 20) ;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

#temp{
    font-size: 5em;
}



.tempcontainer{
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-top: -70px;
    margin-bottom: -70px;


}

#icon{
    display: flex;
    flex-direction: column;
    margin-right: 15px;

}

#description {
    font-size: 1.2em;
    margin-top: -20px;
    font-style: italic;
    color: rgb(187, 185, 185); /* Lighter shade for visibility */
    text-align: center;
}
