body{
    display: flex;
    font-style: italic;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: rgb(37, 37, 37);


}

.container{
    text-align: center;
    padding: 50px;
    background-color:rgb(188, 250, 96);
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray ,
                 -5px 5px 5px gray;
    



} 

#city-input{
    border-radius: 2px;
}


